<div class="card w-96 bg-base-100 shadow-2xl border-2 border-slate-600/25">
    <figure>
        <img id="carimg" style="width: 100%; height:180px" src="<%= randcars.imgUrl %>" class="card-img-top" alt="...">
    </figure>
    <div class="card-body items-left text-left">
        <h5 class="card-title" style="height:50px">Model: <%= randcars.model %></h5>
        <p class="card-text">
        <li>Brand:<%= randcars.brand %></li>
        <li>Car Type:<%= randcars.carType %></li>
        <li>Price:<%= randcars.price %></li>
        <li>Drive:<%= randcars.drive %></li>
        <li>HP:<%= randcars.hp %></li>
        <li>Weight:<%= randcars.weight %></li>
        <li>Torque:<%= randcars.torque %></li>
        <li>WKG:<%= randcars.wkg %></li>
        <li>car_id:<%= randcars.car_id %></li>
        </p>
    </div>
</div>