<div class="card">
    <img id="carimg" src="<%= randcars.imgUrl %>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Model: <%= randcars.model %></h5>
        <p class="card-text">
        <li>Brand:<%= randcars.brand %></li>
        <li>Car Type:<%= randcars.carType %></li>
        <li>Price:<%= randcars.price %></li>
        <li>Drive:<%= randcars.drive %></li>
        <li>HP:<%= randcars.hp %></li>
        <li>Weight:<%= randcars.weight %></li>
        <li>Torque:<%= randcars.torque %></li>
        <li>WKG:<%= randcars.wkg %></li>
        <li>car_id:<%= randcars.car_id %></li>
        </p>
    </div>
</div>