<div class="card">
    <img id="carimg" src="<%= p1cars.imgUrl %>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Model: <%= p1cars.model %></h5>
        <p class="card-text">
        <li>Brand:<%= p1cars.brand %></li>
        <li>Car Type:<%= p1cars.carType %></li>
        <li>Price:<%= p1cars.price %></li>
        <li>Drive:<%= p1cars.drive %></li>
        <li>HP:<%= p1cars.hp %></li>
        <li>Weight:<%= p1cars.weight %></li>
        <li>Torque:<%= p1cars.torque %></li>
        <li>WKG:<%= p1cars.wkg %></li>
        <li>car_id:<%= p1cars.car_id %></li>
        </p>
    </div>
</div>