<div class="card w-96 bg-base-100 shadow-2xl border-2 border-slate-600/25	">
    <figure>
        <img id="carimg" style="width: 100%; height:180px" src="<%= p2cars.imgUrl %>" alt="..."></figure>
    <div class="card-body items-left text-left">
        <h5 class="card-title" style="height:50px">Model: <%= p2cars.model %></h5>
        <p class=" card-text">
        <li>Brand:<%= p2cars.brand %></li>
        <li>Car Type:<%= p2cars.carType %></li>
        <li>Price:<%= p2cars.price %></li>
        <li>Drive:<%= p2cars.drive %></li>
        <li>HP:<%= p2cars.hp %></li>
        <li>Weight:<%= p2cars.weight %></li>
        <li>Torque:<%= p2cars.torque %></li>
        <li>WKG:<%= p2cars.wkg %></li>
        <li>car_id:<%= p2cars.car_id %></li>
        </p>
    </div>
</div>