<div class="card">
    <img id="carimg" src="<%= p2cars.imgUrl %>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Model: <%= p2cars.model %></h5>
        <p class="card-text">
        <li>Brand:<%= p2cars.brand %></li>
        <li>Car Type:<%= p2cars.carType %></li>
        <li>Price:<%= p2cars.price %></li>
        <li>Drive:<%= p2cars.drive %></li>
        <li>HP:<%= p2cars.hp %></li>
        <li>Weight:<%= p2cars.weight %></li>
        <li>Torque:<%= p2cars.torque %></li>
        <li>WKG:<%= p2cars.wkg %></li>
        <li>car_id:<%= p2cars.car_id %></li>
        </p>
    </div>
</div>