<%- include ("_header") -%>

<div class="container pt-12 mx-auto">

    <div class="flex lg:flex-row">
        <div class="grid flex-grow h-128  place-items-center ">
            <p class="text-3xl">Player 1 Car</p>
            <div class="col mb-4 pt-6" id="p1car">
                <%- include ("./includes/p1car.ejs") %>
            </div>
        </div>

        <div class="grid flex-grow h-128 place-items-center">
            <p class="text-3xl"> Passing Car</p>
            <div class="col mb-4 pt-6" id="rcar" hx-get="/nextturn" hx-trigger="nextturn from:body">
                <%- include ("./includes/newcar.ejs") %>
            </div>
        </div>
        <div class="grid flex-grow h-128 place-items-center">
            <p class="text-3xl">Player 2 Car</p>
            <div class="col mb-4 pt-6" id="p2car">
                <%- include ("./includes/p2car.ejs") %>
            </div>
        </div>
    </div>


    <div class="flex lg:flex-row" id="menus" hx-get="/menu"
         hx-trigger="refresh from:body">
        <%- include ("./includes/menus.ejs") %>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-1 text-center mx-auto" style="max-width: 1200px;">
    <div class="col mb-4">
        <a href="/restart">
            <button class="btn btn-primary shadow">Restart Game</button>
        </a>
    </div>
</div>
</div>

<%- include ("_footer") -%>